•	Installation

•	Core components of pandas: Series and DataFrames (DF)

•	Reading in/Writing data to/from files

•	Cleaning data

## What is pandas?

1. Pandas is a data manipulation package in Python for tabular data. 
- Data in the form of rows and columns, also known as DataFrames. 
- Intuitively, you can think of a DataFrame as an Excel sheet. 

2. Pandas’ functionality
- Data transformations, like sorting rows and taking subsets
- Calculating summary statistics such as the mean
- Reshaping DataFrames, and joining DataFrames together

In [ ]:
# Constructing DataFrame from a dictionary.
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

In [ ]:
df['col2']

In [ ]:
df.head(1)

In [ ]:
df['col1'][1]

## What is pandas used for?
- Import datasets from databases, spreadsheets, comma-separated values (CSV) files, and more.
- Clean datasets, for example, by dealing with missing values.
- Tidy datasets by reshaping their structure into a suitable format for analysis.
- Aggregate data by calculating summary statistics such as the mean of columns, correlation between them, and more.
- Visualize datasets and uncover insights.

## Key benefits of the pandas package

1. Made for Python: Python is the world's most popular language for machine learning and data science.

2. Less verbose per unit operations: Code written in pandas is less verbose, requiring fewer lines of code to get the desired output. 

3. Intuitive view of data: pandas offers exceptionally intuitive data representation that facilitates easier data understanding and analysis.

4. Extensive feature set: It supports an extensive set of operations from exploratory data analysis, dealing with missing values, calculating statistics, visualizing univariate and bivariate data, and much more.

5. Works with large data: pandas handles large data sets with ease. It offers speed and efficiency while working with datasets of the order of millions of records and hundreds of columns, depending on the machine.

## Pandas Installation

In [ ]:
# Install pandas
# pip install pandas
# Or you can also try below
%pip install pandas

## Importing data in pandas

- To begin working with pandas, import the pandas Python package. 
- When importing pandas, the most common alias for pandas is pd.

In [ ]:
import pandas as pd

### 1. Importing CSV files

1. Use read_csv() with the path to the CSV file to read a comma-separated values file
2. This read operation loads the CSV file diabetes.csv to generate a pandas Dataframe object df. 
3. DataFrame.dtypes
- This returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns. Columns with mixed types are stored with the object dtype.

In [ ]:
df=pd.read_csv("/Users/fanfeng/Downloads/diabetes.csv")
df

In [ ]:
# Generate a pandas Dataframe object called df
df = pd.read_csv("diabetes.csv")

In [ ]:
df

### 2. Importing text files

1. The separator argument refers to the symbol used to separate rows in a DataFrame. 

2. Comma (sep = ","), whitespace(sep = "\s"), tab (sep = "\t"), and colon(sep = ":") are the commonly used separators.

In [ ]:
df = pd.read_csv("diabetes.txt", sep=",")
df

### 3. Importing Excel files (single sheet)
1. Reading excel files (both XLS and XLSX) is as easy as the read_excel() function, using the file path as an input.

2. You can also specify header which row becomes the DataFrame's header. 
- It has a default value of 0, which denotes the first row as headers or column names.

In [ ]:
df = pd.read_excel('diabetes.xlsx', header = 0)
df

### 4. Importing Excel files (multiple sheets)

You just need to specify one additional argument, sheet_name, where you can either pass a string for the sheet name or an integer for the sheet position (note that Python uses 0-indexing, where the first sheet can be accessed with sheet_name = 0)

In [ ]:
df = pd.read_excel('diabetes_multi.xlsx', header = 0)
df

In [ ]:
df = pd.read_excel('diabetes_multi.xlsx',sheet_name=1, header = 0)
df

In [ ]:
df = pd.read_excel('diabetes_multi.xlsx',sheet_name='test_scores', header = 0)
df

In [ ]:
df.dtypes

### 5. Importing JSON file
you can use read_json() for JSON file types with the JSON file name as the argument.

- JSON, also known as JavaScript Object Notation, is a data-interchange text-serialization format. JSON is easy to read and write. It is based on a subset of the JavaScript Programming Language but uses conventions from Python, and many other languages outside of Python.

- JSON is mostly used to store unstructured data, and SQL databases have a tough time saving it. JSON makes the data accessible for the machines to read.

- JSON is mainly built on two structures:

    - A collection of key/value pairs. In Python, a key/value pair is referred to as a Dictionary, and a key is a unique attribute, whereas values are not.

    - An ordered list of values. The ordered list can also sometimes be a list of lists. Lists in Python are a set of values which can be a string, integer, etc.

In [ ]:
df = pd.read_json("diabetes.json")
df

If you want to learn more about importing data with pandas, check out this cheat sheet on importing various file types with Python.
https://www.datacamp.com/cheat-sheet/importing-data-in-python-cheat-sheet

## Outputting data in pandas

- Just as pandas can import data from various file types, it also allows you to export data into various formats. 
- This happens especially when data is transformed using pandas and needs to be saved locally on your machine.

### 1. Outputting a DataFrame into a CSV file

- A pandas DataFrame (here we are using df) is saved as a CSV file using the .to_csv() method. 
- The arguments include the filename with path and index – where index = True implies writing the DataFrame’s index.
    - The index=False argument specifies that the index column should not be included in the output file.
    - This is useful when the index is not meaningful or when it is already included as a separate column in the DataFrame.

In [ ]:
# This code saves a pandas DataFrame df to a CSV file 
# named "diabetes_out.csv" in the current working directory.
df.to_csv("diabetes_out.csv", index=False)

### 2. Outputting a DataFrame into a JSON file
Export DataFrame object into a JSON file by calling the .to_json() method.

In [ ]:
df.to_json("diabetes_out.json")

### 3. Outputting a DataFrame into a text file

- As with writing DataFrames to CSV files, you can call .to_csv(). 
- The only differences are that the output file format is in .txt, and you need to specify a separator using the sep argument.

In [ ]:
df.to_csv('diabetes_out.txt', header=df.columns, index=None, sep=' ')

- The header parameter is set to df.columns, which means that the column names of the DataFrame will be included as the first row in the output file.
- The index parameter is set to None, which means that the row index of the DataFrame will not be included in the output file.
- The sep parameter is set to a space character, which means that the values in each row will be separated by a space in the output file.

### 4. Outputting a DataFrame into an Excel file

Call .to_excel() from the DataFrame object to save it as a “.xls” or “.xlsx” file.

In [ ]:
df.to_excel("diabetes_out.xlsx", index=False)

## Viewing and understanding DataFrames using pandas 

- Row: observation
- Column: variable
- Every value within a column has the same data type, either text or numeric, but different columns can contain different data types.

In [ ]:
df.dtypes

In [ ]:
type(df)

### 1. How to view data using .head() and .tail()
- You can view the first few or last few rows of a DataFrame using the .head() or .tail() methods, respectively. 
- You can specify the number of rows through the n argument (the default value is 5).

In [ ]:
df.head()

In [ ]:
df.head(7)

In [ ]:
df.tail()

In [ ]:
df.tail(n=3)

### 2. Understanding data using .describe()

The DataFrame.describe() method prints the summary statistics of all numeric columns, such as count, mean, standard deviation, range, and quartiles of numeric columns.
- The describe method computes some summary statistics for numerical columns, like mean and median.
- "count": the number of non-missing values in each column
- "25%; 50%; 75%": All percentiles should fall between 0 and 1. 
    - The default is [.25, .5, .75], which returns the 25th, 50th, and 75th percentiles.
    - The 50 percentile is the same as the median.
- "std": Standard deviation of the observations.

In [ ]:
df.describe()

- You can also modify the quartiles using the percentiles argument. 
- Here, for example, we’re looking at the 30%, 50%, and 70% percentiles of the numeric columns in DataFrame df.

In [ ]:
df.describe(percentiles=[0.3, 0.6, 0.8])

- You can also isolate specific data types in your summary output by using the include argument. 
- Here, for example, we’re only summarizing the columns with the integer data type.

In [ ]:
df.describe(include=[int])

- Similarly, you might want to exclude certain data types using exclude argument.

In [ ]:
df.describe(exclude=[int])

- Often, practitioners find it easy to view such statistics by transposing them with the .T attribute.

In [ ]:
df.describe().T

For more on describing DataFrames, check out the following cheat sheet:

https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-data-wrangling-in-python

### 3. Understanding data using .info( )

The .info( ) method is a quick way to look at the data types, missing values, and data size of a DataFrame. 
- Here, we’re setting the show_counts argument to True, which gives a few over the total non-missing values in each column. 
- We’re also setting memory_usage to True, which shows the total memory usage of the DataFrame elements. 
- When verbose is set to True, it prints the full summary from .info().

In [ ]:
df.info(show_counts=True, memory_usage=True, verbose=True)

In [ ]:
df.info()

### 4. Understanding your data using .shape

- The number of rows and columns of a DataFrame can be identified using the .shape attribute of the DataFrame. 
- It returns a tuple (row, column) and can be indexed to get only rows, and only columns count as output.

In [ ]:
df.shape # Get the number of rows and columns

In [ ]:
df.shape[0] # Get the number of rows only

In [ ]:
df.shape[1] # Get the number of columns only

### 5. Get all columns and column names

- Calling the .columns attribute of a DataFrame object returns the column names in the form of an Index object. 
- As a reminder, a pandas index is the address/label of the row or column.

In [ ]:
df.columns

In [ ]:
df.columns[0]

- It can be converted to a list using a list() function.

In [ ]:
list(df.columns)

In [ ]:
list(df.columns)[0]

- .index: the index atributes contains row numbers or row names.

In [ ]:
df.index

### 6. Checking for missing values in pandas with .isnull( )

The sample DataFrame does not have any missing values. 

Let's introduce a few to make things interesting. 
- The .copy( ) method makes a copy of the original DataFrame. This is done to ensure that any changes to the copy don’t reflect in the original DataFrame. 
- Using .loc (to be discussed later), you can set rows two to five of the Pregnancies column to NaN values, which denote missing values.
    - NaN (Not a Number): NaN represents missing or undefined data in Python. 
    - It is typically encountered while performing mathematical operations that result in an undefined or nonsensical value. NaN is a floating-point value represented by the float('nan') object in Python.

In [ ]:
df2 = df.copy()
df2.loc[2:5,'Pregnancies'] = None
df2.head(7)

- You can check whether each element in a DataFrame is missing using the .isnull( ) method.

In [ ]:
df2.isnull().head(7)

- Given it's often more useful to know how much missing data you have, you can combine .isnull() with .sum() to count the number of nulls in each column.

In [ ]:
df2.isnull().sum()

- You can also do a double sum to get the total number of nulls in the DataFrame.

In [ ]:
df2.isnull().sum().sum()

## Slicing and Extracting Data in pandas

The pandas package offers several ways to subset, filter, and isolate data in your DataFrames.

### 1. Isolating one column using [ ]

- You can isolate a single column using a square bracket [ ] with a column name in it. 
- The output is a pandas Series object. 
- A pandas Series is a one-dimensional array containing data of any type, including integer, float, string, boolean, python objects, etc. 
    - Array: a special varilable, which can hold more than one value at a time. You can access the values by referring to an index number.
    - Main different between list and array: https://www.geeksforgeeks.org/difference-between-list-and-array-in-python/
        - List can consist of elements belonging to different data types
        - Array only consists of elements belonging to the same data type
    - Main different between list and series: https://www.geeksforgeeks.org/creating-a-pandas-series-from-lists/?ref=header_search
        - List can consist of elements belonging to different data types
        - Series will always contain data of the same type
- A DataFrame is comprised of many series that act as columns.

In [ ]:
df.head()

In [ ]:
df['Outcome']

### 2. Isolating two or more columns using [[ ]] 
- You can also provide a list of column names inside the square brackets to fetch more than one column. 
- Here, square brackets are used in two different ways. 
    - We use the outer square brackets to indicate a subset of a DataFrame, and the inner square brackets to create a list.

In [ ]:
df[['Pregnancies', 'Outcome']]

### 3. Isolating one row using [ ] 
- A single row can be fetched by passing in a boolean series with one True value. 
- In the example below, the second row with index = 1 is returned. 
    - Here, .index returns the row labels of the DataFrame, and the comparison turns that into a Boolean one-dimensional array.

In [ ]:
df.index==1

In [ ]:
df[df.index==1]

### 4. Isolating two or more rows using [ ] 
Similarly, two or more rows can be returned using the .isin() method instead of a == operator.

In [ ]:
df[df.index.isin(range(2,10))]

### 5. Using .loc[] and .iloc[] to fetch rows
You can fetch specific rows by labels or conditions using .loc[] and .iloc[] ("location" and "integer location"). 
- .loc[] uses a label to point to a row, column or cell
    - we have to pass the name of the row or column which we want to select.
    - .loc[] method includes the last element of the range passed in it.
    - .loc() can accept the boolean data
- .iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. 

More comparisons between loc() and iloc() in Pandas: https://www.geeksforgeeks.org/difference-between-loc-and-iloc-in-pandas-dataframe/

In [ ]:
df2.index = range(1,769)
df2

In [ ]:
# The below example returns a pandas Series instead of a DataFrame. 
# The 1 represents the row index (label)
df2.loc[1]

In [ ]:
# the 1 in .iloc[] is the row position (second row).
df2.iloc[1]

### - You can also fetch multiple rows by providing a range in square brackets.

In [ ]:
df2.loc[100:110]

In [ ]:
df2.iloc[100:110]

### - You can also subset with .loc[] and .iloc[] by using a list instead of a range.

In [ ]:
df2.loc[[100, 200, 300]]

In [ ]:
df2.iloc[[100, 200, 300]]

### - You can also select specific columns along with rows. 
This is where .iloc[] is different from .loc[] – it requires column location and not column labels.

In [ ]:
df2.loc[100:110, ['Pregnancies', 'Glucose', 'BloodPressure']]

In [ ]:
df2.iloc[100:110,['Pregnancies','Glucose']]

In [ ]:
df2.iloc[100:110, 0:3]

### - For faster workflows, you can pass in the starting index of a row as a range.

In [ ]:
df2.loc[760:, ['Pregnancies', 'Glucose', 'BloodPressure']]

In [ ]:
df2.iloc[760:, :3]

#### You can update/modify certain values by using the assignment operator =

In [ ]:
df2.head()

In [ ]:
# Reassign all rows, and compare if 'Age' ==1,
# If it is True, I just reassign 'Age'=51
df2.loc[df['Age']==50, ['Age']] = 51
df2

Q: pls return your output which includes rows label from 200:210, and only show two columns: 'Age' and 'Outcome'?

In [ ]:
# 1. First situation:
df2 = df.copy()
df2.loc[2:5,'Pregnancies'] = None
df2.head()

In [ ]:
# Method 1: use .loc[]
df2.loc[200:210, ['Age', 'Outcome']]

In [ ]:
# Method2: use .iloc[]
df2.iloc[200:210, 7:]

In [ ]:
# second situation: redefine df2
df2.index = range(1,769)
df2

In [ ]:
# Method 1: use .loc[]
df2.loc[200:210, ['Age', 'Outcome']]

In [ ]:
# Method 2: use .iloc[]
df2.iloc[199:210,-2:]

In [ ]:
# Method 2: use .iloc[]
df2.iloc[199:210,7:9]

### Conditional slicing (that fits certain conditions)

pandas lets you filter data by conditions over row/column values.

#### Isolating rows based on a condition in pandas 
For example, the below code selects the row where Blood Pressure is exactly 122. 
- Here, we are isolating rows using the brackets [ ] as seen in previous sections. 
- However, instead of inputting row indices or column names, we are inputting a condition where the column BloodPressure is equal to 122. 
- We denote this condition using df.BloodPressure == 122.

In [ ]:
df.BloodPressure == 122

In [ ]:
df[df.BloodPressure == 122]

Q: Can you fetched all rows where Outcome is 1?

In [ ]:
df

In [ ]:
df[df.Outcome == 1]

- Here df.Outcome selects that column, 
- df.Outcome == 1 returns a Series of Boolean values determining which Outcomes are equal to 1, 
- then [] takes a subset of df where that Boolean Series is True.

#### Isolating rows and columns based on a condition in pandas 
You can use a > operator to draw comparisons. 

The below code fetches Pregnancies, Glucose, and BloodPressure for all records with BloodPressure greater than 100.

In [ ]:
df.loc[df['BloodPressure'] > 100, ['Pregnancies','Outcome']]

In [ ]:
df.iloc[:,0:9]

## Cleaning data using pandas 
Data cleaning is one of the most common tasks in data science. 
- pandas lets you preprocess data for any use, including but not limited to training machine learning and deep learning models. 
    - Let’s use the DataFrame df2 from earlier, having four missing values, to illustrate a few data cleaning use cases. 
    - As a reminder, here's how you can see how many missing values are in a DataFrame.

In [ ]:
df2 = df.copy()
df2.loc[2:5,'Pregnancies'] = None
df2

In [ ]:
df2.isnull().sum()

In [ ]:
df2.shape

### Dealing with missing data technique #1: Dropping missing values

One way to deal with missing data is to drop it. 
- This is particularly useful in cases where you have plenty of data and losing a small portion won’t impact the downstream analysis. 
- You can use a .dropna() method as shown below. 
- Here, we are saving the results from .dropna() into a DataFrame df3.

In [ ]:
df3 = df2.copy()
df3 = df3.dropna()
df3.shape # this is 4 rows less than df2

In [ ]:
df3

#### The axis argument lets you specify whether you are dropping rows, or columns, with missing values. 

- The default axis removes the rows containing NaNs. 
    - Use axis = 0 to remove the rows with one or more NaN values. 
    - Use axis = 1 to remove the columns with one or more NaN values. 
- Also, notice how we are using the argument inplace=True which lets you skip saving the output of .dropna() into a new DataFrame.

In [ ]:
df3 = df2.copy()
df3.dropna(inplace=True, axis=1)
df3.head(7)

Q: Can you remove the rows with one or more NaN values from df3 using the axis argument?

In [ ]:
df3 = df2.copy()
df3

### Dealing with missing data technique #2: Replacing missing values

Instead of dropping, replacing missing values with a summary statistic or a specific value (depending on the use case) maybe the best way to go. 
- For example, if there is one missing row from a temperature column denoting temperatures throughout the days of the week, replacing that missing value with the average temperature of that week may be more effective than dropping values completely.

In [ ]:
df3 = df2.copy()
# Get the mean of Pregnancies
mean_value = df3['Pregnancies'].mean()
# Fill missing values using .fillna()
df3 = df3.fillna(mean_value)
df3.head(7)

#### Dealing with Duplicate Data
Let's add some duplicates to the original data to learn how to eliminate duplicates in a DataFrame. 
- Here, we are using the .concat() method to concatenate the rows of the df2 DataFrame to the df2 DataFrame, adding perfect duplicates of every row in df2.

In [ ]:
df3 = pd.concat([df2, df2])
df3.shape

In [ ]:
df3.info

#### You can remove all duplicate rows (default) from the DataFrame using .drop_duplicates() method.

In [ ]:
df3 = df3.drop_duplicates()
df3.shape

In [ ]:
df3.info

### Renaming columns
A common data cleaning task is renaming columns. 
- With the .rename() method, you can use columns as an argument to rename specific columns.

In [ ]:
# The dictionary for mapping old and new column names.
df3 = df2.copy()
df3.rename(columns = {'DiabetesPedigreeFunction':'DPF'}, inplace = True)
df3.head()

#### You can also directly assign column names as a list to the DataFrame.

In [ ]:
df3.columns = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DPF', 'Age', 'Outcome', 'STF']
df3.head()

For more on data cleaning, and for easier, more predictable data cleaning workflows, check out the following checklist, which provides you with a comprehensive set of common data cleaning tasks:
https://www.datacamp.com/blog/infographic-data-cleaning-checklist

## Data analysis in pandas
The main value proposition of pandas lies in its quick data analysis functionality. In this section, we'll focus on a set of analysis techniques you can use in pandas.

### Summary operators (mean, mode, median)
- you can get the mean of each column value using the .mean() method
- A mode can be computed similarly using the .mode() method
    - The mode is the number in a set of numbers that appears the most often.
- the median of each column is computed with the .median() method
    - It is the middle number in a sorted ascending or descending list of numbers 
    - Median can be more descriptive of that data set than the average.

In [ ]:
df.describe()

In [ ]:
# Printing the mean of columns in pandas
df.mean()

In [ ]:
# Printing the mode of columns in pandas
df.mode()

In [ ]:
# Printing the median of columns in pandas
df.median()

### Create new columns based on existing columns 

pandas provides fast and efficient computation by combining two or more columns like scalar variables.

In [ ]:
df2.head()

In [ ]:
# Divides each value in the column Glucose with the corresponding value in the Insulin column 
# to compute a new column named Glucose_Insulin_Ratio.

df2['Glucose_Insulin_Ratio'] = df2['Glucose']/df2['Insulin']
df2.head()

### Counting using .value_counts()

Often times you'll work with categorical values, and you'll want to count the number of observations each category has in a column. 
- Category values can be counted using the .value_counts() methods. 
    - Here, for example, we are counting the number of observations where Outcome is diabetic (1) and the number of observations where the Outcome is non-diabetic (0).
    - Adding the normalize argument returns proportions instead of absolute counts.
    - Turn off automatic sorting of results using sort argument (True by default). The default sorting is based on the counts in descending order.
    - You can also apply .value_counts() to a DataFrame object and specific columns within it instead of just a column. 
- Troubleshooting: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html

In [ ]:
# Using .value_counts() in pandas
df['Outcome'].value_counts()

In [ ]:
# Using .value_counts() in pandas with normalization
df['Outcome'].value_counts(normalize=True)

In [ ]:
# Using .value_counts() in pandas with sorting
df['Outcome'].value_counts(sort=False)

In [ ]:
# Here, for example, we are applying value_counts() on df with the subset argument, 
# which takes in a list of columns. 
df.value_counts(subset=['Pregnancies', 'Outcome'])

### Aggregating data with .groupby() in pandas

- pandas lets you aggregate values by grouping them by specific column values. 
- You can do that by combining the .groupby() method with a summary method of your choice.
- .groupby() enables grouping by more than one column by passing a list of column names.
- Any summary method can be used alongside .groupby(), including .min(), .max(), .mean(), .median(), .sum(), .mode(), and more.

In [ ]:
# the mean of each of the numeric columns grouped by Outcome.
df.groupby('Outcome').mean()

In [ ]:
df.groupby(['Pregnancies', 'Outcome']).mean()

In [ ]:
# the mean of each of the numeric columns grouped by Outcome.
df.groupby('Outcome').max()

Q: Can you calculate the sum of each of the numeric columns grouped by Outcome.

### Pivot Tables 

pandas also enables you to calculate summary statistics as pivot tables. 

This makes it easy to draw conclusions based on a combination of variables. 

- The below code picks the rows as unique values of Pregnancies, the column values are the unique values of Outcome, and the cells contain the average value of BMI in the corresponding group.

In [ ]:
# Aggregating data by pivoting with pandas
pd.pivot_table(df, values="BMI", index='Pregnancies', 
               columns=['Outcome'], aggfunc='mean')

## Data visualization in pandas
pandas provides convenience wrappers to Matplotlib plotting functions to make it easy to visualize your DataFrames.
- Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python. Matplotlib makes easy things easy and hard things possible.
https://matplotlib.org

### Line plots in pandas
pandas enables you to chart out the relationships among variables using line plots.
- figsize is a tuple of the width and height of the figure in inches
- You can select the choice of colors by using the color argument.
- All the columns of df can also be plotted on different scales and axes by using the subplots argument.

In [ ]:
df.describe()

In [ ]:
# Below is a line plot of BMI and Glucose versus the row index.
df[['BMI', 'Glucose']].plot.line()

In [ ]:
# Basic line plot with pandas, with custom colors
df[['BMI', 'Glucose']].plot.line(figsize=(20, 10), 
                                 color={"BMI": "red", "Glucose": "blue"})

In [ ]:
# Subplots for line plots with pandas
df.plot.line(subplots=True)

### Bar plots in pandas
For discrete columns, you can use a bar plot over the category counts to visualize their distribution.

In [ ]:
# The variable Outcome with binary values is visualized below.
df['Outcome'].value_counts().plot.bar()

### Box plots in pandas
The quartile distribution of continuous variables can be visualized using a boxplot.

In [ ]:
# The code below lets you create a boxplot with pandas.
df.boxplot(column=['BMI'], by='Outcome')

Q: When we choose to use a bar plot or a box plot?

1. Bar graphs (aka: bar charts or bar plots) present grouped data in a rectangular format. 
- They allow us to see and compare groups or categories based on the scores (often means) of another (often continuous) variable.
2. Boxplots are an easy visual way to depict quartiles in your data. They are sometimes referred to as box-and-whisker-plots as they often have lines extending from the box data, which denote additional variablity outside of these quartiles. 
- Boxplots allow us a simple way to compare groups and view dispersion and spread in data. 
- They also help highlight outliers.

Source: https://ademos.people.uic.edu/Chapter11.html

References:

https://www.datacamp.com/tutorial/pandas

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

https://www.datacamp.com/tutorial/importing-data-into-pandas

https://app.datacamp.com/learn/courses/data-manipulation-with-pandas

https://www.turing.com/kb/nan-values-in-python

https://www.geeksforgeeks.org/difference-between-list-and-array-in-python/

https://www.geeksforgeeks.org/creating-a-pandas-series-from-lists/?ref=header_search

https://www.investopedia.com/terms/m/mode.asp

https://www.investopedia.com/terms/m/median.asp